.frost {
    --color-background: #e5e9f0;
    --color-text-light: #2e3440;
    --color-text-dark: #fff;
    --color-primary: #3b4252;
    --color-secondary: #5e81ac;
    --color-background-contrast: #4c566a;
    --color-background-light-contrast: #ECEFF4;
    --color-background-light-contrast2: #D8DEE9;
    --color-footer: #2e3440;
}
.frost .dark,
.frost.dark,
.dark .frost {
    --color-background: #2e3440;
    --color-text-light: #fff;
    --color-text-dark: #eceff4;
    --color-primary: #81a1c1;
    --color-secondary: #81a1c1;
    --color-background-contrast: #4c566a;
    --color-background-light-contrast: #434c5e;
    --color-background-light-contrast2: #4c566a;
    --color-footer: #3b4252;
}