@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
    --color-background: #f5f5f5;
    --color-text-light: #000;
    --color-text-dark: #fff;
    --color-primary: #308f81;
    --color-secondary: #308f81;
    --color-background-contrast: #e0e0e0;
    --color-background-light-contrast: #fff;
    --color-background-light-contrast2: #dfdfdf;
}
.dark {
    --color-background: #313131;
    --color-text-light: #f5f5f5;
    --color-text-dark: #fff;
    --color-primary: #49a865;
    --color-secondary: #49a865;
    --color-background-contrast: #414141;
    --color-background-light-contrast: #494949;
    --color-background-light-contrast2: #181818;
}
html {
    height: 100%;
}
body {
    background-color: var(--color-background);
    font-family: Raleway, Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    min-height: 100%;
    color: var(--color-text-light)
}
*,*+* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
}
.c {
    margin: auto;
    padding: 1.5em;
    max-width: 70em;
}
.r {
    margin: 0.4em 0;
    display: block;
}
.full, .r {
    width: 100%;
}
.i {
    margin: 0 .5em;
    width: 100%
}
table {
    display: block;
    overflow: auto;
}
@media (min-width: 769px){
    table {
        display: table;
    }
    .r{
        display: flex;
        border-spacing: 1.5em 0;
    }
    .i{
        vertical-align: top;
    }
    [class ~= "1"]{
        width: 8.33%;
    }
    [class ~= "2"]{
        width: 16.66%;
    }
    [class ~= "3"]{
        width: 25%;
    }
    [class ~= "4"]{
        width: 33.33%;
    }
    [class ~= "5"]{
        width: 41.66%;
    }
}
a:hover,.b:hover {
	opacity: .7;
}
a {
    color: var(--color-secondary);
    text-decoration: none;
}
a.b {
    font-size: 0.8em;
}
.b.primary {
    color: var(--color-text-dark);
    background: var(--color-primary);
    border: solid 1px var(--color-primary);
}
.b {
    color: var(--color-primary);
    display: inline-block;
    padding: 0.8em;
    background: transparent;
    border: solid 1px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 2px;
}
td, th {
    padding: 0.5em;
    text-align: left;
    border-bottom: solid var(--color-background-contrast);
}
hr {
    border: 1px solid var(--color-primary);
}
.card {
    background: var(--color-background-light-contrast);
    border-radius: 2px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);
}
input,
textarea,
select {
    border: 1px solid var(--color-background-contrast);
    padding: .4em;
}
.card img {
    vertical-align: middle;
    width: 100%;
}
.i.tall .card {
    height: 100%
}
pre {
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
    border: 0 solid;
    border-left-width: 2px;
    padding-left: 1em;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.i>br {
    font-size: 1.5em;
}
code {
    background: var(--color-background-light-contrast2);
}
